{
  "env": {
    "test": {
      "sourceMaps": "inline",
      "presets": [["env", { "targets": { "node": "current" } }]]
    },
    "production": {
      "presets": [
        [
          "env",
          { "targets": { "browsers": ">1%" }, "modules": false, "loose": true }
        ]
      ],
      "plugins": [
        [
          "transform-runtime",
          { "helpers": false, "polyfill": false, "regenerator": true }
        ],
        "external-helpers"
      ]
    }
  }
}
