$pi: 3.14159265359;
$item-width: 100px;
$item-height: 20px;
$item-font-size: 20px;
$item-padding: 4px;
$item-background: #f2f2f2;
$item-color: darken($item-background, 75%);
$active-item-background: darken($item-background, 10%);
$active-item-color: darken($active-item-background, 75%);
$item-radius: $item-padding * 2;
$menu-radius: 80px;
$center-radius: 10px;
$line-thickness: 4px;
$line-color: $item-background;
$active-line-color: $active-item-background;
$first-item-angle: 0;

// Used for later calculation
$item-total-width: $item-width + $item-padding * 2;
$item-total-height: $item-height + $item-padding * 2;

.marking-menu {
  position: absolute;
  pointer-events: none;

  * {
    pointer-events: none;
  }
}

.marking-menu-item {
  .marking-menu-label {
    position: absolute;
    border-radius: $item-radius;
    background-color: $item-background;
    padding: $item-padding;
    width: $item-width;
    height: $item-height;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    line-height: $item-height;
    color: $item-color;
    font-size: $item-font-size;
  }

  &.active {
    .marking-menu-label {
      background-color: $active-item-background;
      color: $active-item-color;
      font-weight: bolder;
    }

    .marking-menu-line {
      background-color: $active-line-color;
    }
  }

  .marking-menu-line {
    position: absolute;
    top: -$line-thickness / 2;
    background-color: $line-color;
    width: $menu-radius + $item-radius + $line-thickness;
    height: $line-thickness;
    transform-origin: center left;
  }

  $item-nb: 8;
  $inc: 360 / $item-nb;
  @for $i from 0 through $item-nb - 1 {
    $angle: $i * $inc;
    $fixed-angle: $angle + $first-item-angle;
    $rad-fixed-angle: - to-rad($fixed-angle);

    &[data-item-angle='#{$angle}'] {
      .marking-menu-label {
        $cos: cos($rad-fixed-angle);
        $sin: sin($rad-fixed-angle);
        bottom: $sin * $menu-radius + (min(1, max(-1, $sin * 2)) - 1) * $item-total-height / 2;
        left: $cos * $menu-radius + (min(1, max(-1, $cos * 2)) - 1) * $item-total-width / 2;
      }

      .marking-menu-line {
        transform: rotate(#{$fixed-angle}deg);
      }
    }
  }

  &[data-item-angle='45'] {
    .marking-menu-label {
      border-top-left-radius: 0;
    }
  }

  &[data-item-angle='135'] {
    .marking-menu-label {
      border-top-right-radius: 0;
    }
  }

  &[data-item-angle='225'] {
    .marking-menu-label {
      border-bottom-right-radius: 0;
    }
  }

  &[data-item-angle='315'] {
    .marking-menu-label {
      border-bottom-left-radius: 0;
    }
  }
}